/* You can add global styles to this file, and also import other style files */
  * {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #F4F7FC;
  }
  
  p {
    margin: 0;
    padding: 0;
  }

  .student-name {
    font-size: 1.2rem;
  }
  
  .exam-time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .exam-time .time {
    color: red;
    font-size: 1.4rem;
    font-weight: 600;
  }
  
  .exam-time .date {
    color: gray;
  }

  .exam-title-container {
    display: flex;
    align-items: center;
  }

  .exam-title-container img {
    height: 45px;
    background-color: rgba(255, 0, 0, 0.152);
    border-radius: 50%;
    padding: 0.5rem;
    margin-right: 0.7rem;
  }

  .exam-title-container .title {
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
  }