<main class="login-main">
    <section class="login-image">
      <img src="../../assets/main-image.jpg" alt="Illustration of Login Process">
    </section>

    <section class="login-form-container">
      <h1 class="form-title">LOGIN</h1>

      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" placeholder="Default Input" ngModel email required>
          </div>

          <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" placeholder="Subject" ngModel>
          </div>

          <div class="form-actions">
              <button [routerLink]="['./','questions']">Login</button>
          </div>
      </form>
    </section>
  </main>
