<app-header></app-header>

  <main>
    <section class="exam-title">
      <div class="exam-title-container">
        <div class="icon-container">
          <img src="../../assets/icon-grade-50.png" alt="Exam Icon">
        </div>

        <span class="title">Math Exam</span>
      </div> 

      <span class="time-left-container">Time left <span class="time-left">00:15:40</span> </span>

      <span class="question-count">20 Question</span>
    </section>

    <section class="exam-content">
      <h4 class="question-header">Question Number 1</h4>

      <hr>     

      <div class="question-title">
          What is one of the big differences between traditional media and social media?
      </div>

      <form class="options-container">
          <div class="option">
            <input type="radio" name="question1" id="option1">
            <label for="option1">a. participatory production</label>
          </div>

          <div class="option">
            <input type="radio" name="question1" id="option2">
            <label for="option2">b. social media reaches only a few people at a time</label>
          </div>

          <div class="option">
            <input type="radio" name="question1" id="option3">
            <label for="option3">c. the management structure of the companies</label>
          </div>

          <div class="option">
            <input type="radio" name="question1" id="option4">
            <label for="option4">d. traditional media offers no way for audiences to communicate with media producer</label>
          </div>
      </form>          
    </section>

    <div class="actions">
      <a href="page3.html">Submit Exam</a>
    </div>
  </main>
